body {
background-color: #f3f5f7;
}

#why {
	font-family: 'Noto Sans';
	text-align: center;
	color: #3b3f6a;
	margin-bottom: 120px;
}

#reason {
	text-align: center;
}

#reason h1 {
	font-family: 'Arvo';
	font-weight: bold;
	font-size: 26px;
	margin-top: 40px;
	color: #3b3f6a;
	
}

#reason p {
	font-family: 'Noto Sans';
	font-size: 18px;
	margin-top: 20px;
	color: #8a8ea4;
}